<!DOCTYPE html>
<html lang="pl-PL">
<title>Drewienko - MainPage</title>
<head>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('/build/app.css') }}">
    {% endblock %}
    <meta charset="utf-8">
    <script>
        function onFocusText(ft, text){
            if(ft.value === text){
                ft.value = "";
                ft.style.color = 'black';
            }
        }
        function onLostFocus(ft, text){
            if(ft.value === ""){
                ft.value = text;
                ft.style.color = 'grey';
            }
        }
    </script>
</head>
<body>
    <header class="w-100 row m-0 p-0">
        <div class="row pb-2 fw-bold">
            <div class="col-md-12 col-xl-3 text-center">
                <!--<img src="./assets/logo/larger-logo.png" alt="Logo" class="pt-1" style="height: 100px;">-->
            </div>
            <div class="col-sm-12 col-md-4 col-xl-2 pt-3">
                <div class="pt-4 headerButton">
                    <a href="" class="d-block text-center">
                        Main Page
                    </a>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-xl-2 pt-3">
                <div class="pt-4 headerButton">
                    <a href="" class="d-block text-center">
                        Our products
                    </a>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-xl-2 pt-3">
                <div class="pt-4 headerButton">
                    <a href="" class="d-block text-center">
                        About us
                    </a>
                </div>
            </div>
            <div class="col-md-12 col-xl-3 pt-3 text-center">
                <form action="" class="">
                    <div class="col-12 p-2">
                        <div>
                            <input type="text" name="login" class="col-4 form-control w-50 mx-auto" value="Login" onfocusout="this.value='Login'" onfocus="this.value=''">
                        </div>
                        <div class="p-2">
                            <input type="password" name="password" class="col-4 form-control w-50 mx-auto" value="Password" onfocusout="this.value='Password'" onfocus="this.value=''">
                        </div>
                    </div>
                    <div class="col-12">
                        <input type="button" name="" value="LogIn" class="col-6 btn btn-light w-25">
                    </div>
                </form>
            </div>
        </div>
    </header>

    <main class="row text-center m-auto">
        <div class="container">
            <div class="row">
                <div class="col-12 pt-5">
                    <form action="" method="get" class="uploadForm">
                        Product name:<br><input type="text" value="best product" name="ProdName" class="mb-2 mt-1 form-control w-50 mx-auto" onclick="onFocusText(this, 'best product')" onfocusout="onLostFocus(this, 'best product')" style="color: grey"><br>
                        Price:<br><input type="text" value="999.99" name="Price" class="mb-2 mt-1 form-control w-50 mx-auto" onclick="onFocusText(this, '999.99')" onfocusout="onLostFocus(this, '999.99')" style="color: grey"><br>
                        Description:<br><input type="text" value="My product description" name="Desc" class="mb-2 mt-1 form-control w-75 mx-auto" onclick="onFocusText(this, 'My product description')" onfocusout="onLostFocus(this, 'My product description')" style="color: grey"><br>
                        Tags:<br><input type="text" value="tag1;tag2;tag3" name="Tags" class="mb-2 mt-1 form-control w-50 mx-auto" onclick="onFocusText(this, 'tag1;tag2;tag3')" onfocusout="onLostFocus(this, 'tag1;tag2;tag3')" style="color: grey"><br>
                        <input type="submit" value="Upload Product" class="btn btn-light mb-2 mt-1">
                    </form>
                </div>
            </div>
        </div>
    </main>
    <footer class="w-100 row d-block m-0 p-0">
            <div class="d0 col">
                <ul class="text-center">
                    <div class="pt-1 fw-bold">
                        Links:
                    </div>

                    <div class="row pt-2">
                        <div class="col">
                            <li>
                                <a href="">Main Page</a>
                            </li>
                            <li class="pt-3">
                                <a href="">Browse</a>
                            </li>
                        </div>
                        <div class="col">
                            <li>
                                <a href="https://github.com/WojciechPrusaczyk">My GitHub</a>
                            </li>
                            <li class="pt-3">
                                <a href="">Contact me</a>
                            </li>
                        </div>
                    </div>
                </ul>
            </div>
            <div class="d1 col p-5 text-center fw-bold">
                This is Website of a fictional woodworking brand located in Poland.
            </div>
        <div class="d2 text-center font-monospace">
            Designed & Developed by Wojciech Prusaczyk
        </div>
    </footer>
</body>
</html>
